* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 300px;
  width: 100%;
  background-color: #1c7ad9;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1,
h5 {
  text-align: left;
  color: #fff;
}
